.bash_logout
.bashrc
.cache
.git
.oh-my-zsh
.profile
.shell.pre-oh-my-zsh
.ssh
.sudo_as_admin_successful
.viminfo
.vimrc
.zcompdump
.zcompdump-isaac-box-5.8.1
.zcompdump-isaac-box-5.8.1.zwc
.zsh_history
.lesshst
go
snap
.vim/.netrwhist
